<head>
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/agency.css" rel="stylesheet">
  <link href="font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
</head>
<div class="well">
<div class="intro-text">
<center>
<div class="intro-heading">
  <h1>Welcome to the Seal Text Generator!</h1>
</div>
<div class="intro-lead-in">
  <h3>Send your friends a text with a random lyric from Seal's iconic 1995 hit song,"Kiss From A Rose." Totally for fun and totally not harassment!</h3>
</div>

<form action='/twilio' method='POST'>
  <input name='authenticity_token' value=<%= form_authenticity_token %> type='hidden'>
    <fieldset>
      <label for="inputPhone">Phone Number</label>
      <input type="tel" name="phone_number" id="inputPhone" placeholder="Phone #">
      <label for="select">Select One:</label>
      <select name='content' id="select">
        <option value='lyric'>Send a Seal Lyric!</option>
        <option value= 'fact'>Send a Seal Fact!</option>
      </select>
      <button class="btn btn-default">Cancel</button>
      <button type="submit" class="btn btn-primary">Submit</button>
    </fieldset>
  </form>
</center>
</div>
</div>